html, body {
    margin: 0px;
    font-family: 'Open Sans', Roboto, Helvetica, Arial, sans-serif;
    height: 100%;
}
#header{
    color: black;
    margin: 20px;
}

.inputBox{
    padding : 10px;
}

/*Properties applicable for all input types*/
.fieldGen {
    width: 100%;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
}
/*Name of the title*/
.fieldTitle{
    font-size: xx-large;
}
/*Input name of the field*/
.qusTitle{
    font-size: x-large;
}

/*Bounding box of complete page except h2 title specified*/
.form-body {
    width: 100%;
    height: 100%;
    background-color: #ede7f6;
}

/*Bounding box of field and answer*/
.form-complete{
    margin-top: 20px;
    border-style: groove;
    border-radius: 1em;
    border-top : 8px solid #6a4bb7;
    background-color: white;
}

.form-render{
    margin-top: 20px;
    border-style: solid gray;
    border-radius: 1em;
    background-color: white;
}

/*Only when active show blue line*/
.active-box{
    border-left: 5px solid #4285f4;
}

/*Hidden box class will keep itself hidden*/
.hidden-box{
    display: none;
    padding-bottom: 10px;
}
    
/*When any input property is focused upon*/
.fieldGen:focus {
    outline: none;
    border-bottom-color : #6a4bb7;
}

.numSpecific{
    width: 90%;
}

/*To manage Horizontal line*/
.horLine{
    width: 95.5%;
}
/*templateBox id display will be none*/
#templateBox{
    display: none;
}

/*Select option code addition*/
.selectCode{
    display: none;
}

#selecttype {
    margin-left: -15px;
}

textarea{
    width: 100%;
    resize: none;
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  width: 15%;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.CB_txtName{
    width: 100%;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    font-family: Arial, sans-serif;
    line-height: 135%;
    overflow-wrap: break-word;
}

.RB_txtName{
    width: 100%;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    /*position: relative;*/
    /*margin: .5rem;*/
    font-family: Arial, sans-serif;
    line-height: 135%;
    overflow-wrap: break-word;
}

.remove{
    font-size: 200%;
    margin-right: 10px;
    margin-top: 2px;
}

.btn-primary{
    background-color: rgb(103, 58, 183);
}

.btn-primary:hover{
    background-color: rgb(103, 58, 150);
}

.btn-danger{
    background-color: white;
    color: rgb(103, 58, 183);
    border-color: rgb(103, 58, 183);
}

.btn-danger:hover{
    background-color: rgb(255,255,245);
    color: rgb(103, 58, 183);
    border-color: rgb(103, 58, 183);
}



input[type=radio] {
    position:absolute; 
    z-index:-1000; 
    left:-1000px; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0; 
    border:0;
    margin-right: 5px;
}

input[type=radio] + label.RB {
    padding-left:30px;
    height:25px; 
    display:inline-block;
    line-height:25px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=radio]:checked + label.RB {
    background-position: 0 -25px;
}

label.RB {
    background-image:url(./radio.png);
    /*background-size: 100px 100px;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


input[type=checkbox] {
    position:absolute;
    z-index:-1000; 
    left:-1000px; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0; 
    border:0;
}

input[type=checkbox] + label.CB {
    padding-left:30px;
    height:25px; 
    display:inline-block;
    line-height:25px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox]:checked + label.CB {
    background-position: 0 -25px;
}

label.CB {
    background-image:url(./checkbox.jpg);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.formBox{
    padding-left: 15px;
    padding-top: 5px;
    font-size: large;
}