html, body {
    margin: 0;
    font-family: 'Open Sans', Roboto, Helvetica, Arial, sans-serif;
    height: 100%;
}
#header{
    color: black;
    margin: 20px;
}

.inputBox{
    padding : 10px;
}

/*Properties applicable for all input types*/
.fieldGen {
    width: 100%;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
}
/*Name of the title*/
.fieldTitle{
    font-size: xx-large;
}
/*Input name of the field*/
.qusTitle{
    font-size: x-large;
}

/*Bounding box of complete page except h2 title specified*/
.form-body {
    width: 100%;
    height: 100%;
    background-color: #ede7f6;
}

/*Bounding box of field and answer*/
.form-complete{
    margin-top: 20px;
    border-style: groove;
    border-radius: 1em;
    border-top : 8px solid #6a4bb7;
    background-color: white;
}

/*Only when active show blue line*/
.active-box{
    border-left: 5px solid #4285f4;
}

/*Hidden box class will keep itself hidden*/
.hidden-box{
    display: none;
    padding-bottom: 10px;
}
    
/*When any input property is focused upon*/
.fieldGen:focus {
    outline: none;
    border-bottom-color : #6a4bb7;
}

.numSpecific{
    width: 90%;
}

/*To manage Horizontal line*/
.horLine{
    width: 95.5%;
}
/*templateBox id display will be none*/
#templateBox{
    display: none;
}

/*Select option code addition*/
.selectCode{
    display: none;
}

#selecttype {
    margin-left: -15px;
}

textarea{
    width: 100%;
    resize: none;
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  width: 15%;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.CB_txtName{
    width: 100%;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    font-family: Arial, sans-serif;
    line-height: 135%;
    overflow-wrap: break-word;
}*/

.RB_txtName{
    width: 20%;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    position: relative;
    margin: .5rem;
    font-family: Arial, sans-serif;
    line-height: 135%;
    overflow-wrap: break-word;
}

.remove{
    font-size: 200%;
    /*float: right;*/
}

.btn-primary{
    background-color: rgb(103, 58, 183);
}

.btn-primary:hover{
    background-color: rgb(103, 58, 150);
}

.btn-danger{
    background-color: white;
    color: rgb(103, 58, 183);
    border-color: rgb(103, 58, 183);
    /*border-right: rgb(103, 58, 183);
    border-left: rgb(103, 58, 183);
    border-top: rgb(103, 58, 183);
    border-bottom: rgb(103, 58, 183);*/
}

.btn-danger:hover{
    background-color: rgb(255,255,245);
    color: rgb(103, 58, 183);
    border-color: rgb(103, 58, 183);
}


@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap');

$black: #363839;
$lightgray: #9c9e9f;
$gray: #bdc1c6;
$white: #fff;
$green: #06842c;
/*
* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}*/

input[type="checkbox"] {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  color: $black;
  border: 1px solid $gray;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  &::before {
    position: absolute;
    content: '';
    display: block;
    top: 2px;
    left: 7px;
    width: 8px;
    height: 14px;
    border-style: solid;
    border-color: $white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }
  &:checked {
    color: $white;
    border-color: $green;
    background: $green;
    &::before {
      opacity: 1;
    }
    ~ label::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}

label {
  position: relative;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0 0.25em 0;
  user-select: none;
  &::before {
    position: absolute;
    content: attr(data-content);
    color: $lightgray;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: $black;
    transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}