<!--
	Things To be done :
	1. Set visibility of Add filed and delete button only on focus.
	2. Create function for add field button and delete button.
	3. By default focus must be on formTitle div.
	4. Add selected option hidden label for each box.
	4. Can change answer box just by changing dropdown menu.
-->
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Create Form Template</title>
	<link rel="stylesheet" type="text/css" href="{% static 'forms/createform.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script>


		$(document).ready(function(){
			/*This will be for active div element*/
			

			$(document).on('click', '.remove' , function() {
		    	var myID = $(this).attr("id");
		    	$(this).prev().prev().remove(); // remove <input>
		    	$(this).prev().remove(); // remove <label>
		    	$(this).next().remove(); // remove <br>
		    	$(this).remove(); // remove <x>
		    });

			/* check box add */
			$(document).on('click' , '.CB_btnSave' , function(){
				var $str = $(this).parent();
				var $name = $str.find('.CB_txtName').val();
				var container = $str.find('.CB_list');
				var inputs = container.find('input'); 
				var id = inputs.length + 1;
				$('<input />', { type: 'checkbox', id: 'cb' + id, value: $name }).appendTo(container);
				$('<label />', { 'for': 'cb' + id, text: $name }).appendTo(container);
				// $('<a />', { id: 'cb' + id, value: '&times' }).appendTo(container);
				$('<a href="javascript:void(0);" id=' + String(id) + ' class="remove">&times;</a>').appendTo(container);
				$('<br>').appendTo(container);
			});

			/* Change type of box field*/ 
			$(document).on('change', '.boxField', function(){
				var $myType = this.value;
				var $myelem = $(this).parent().parent().next().remove();
				var $newBox = document.createElement('div');
				switch(String($myType)){
					case 'text':

						$newBox = $(`<div class="form-group">	<input class='ans' type='text' name='myInputs[]'></div>`);
						break;

					case 'radio':

						$newBox = $(`<div class="form-group">	<input class='ans' type='radio' name='myRadioButtons[]'></div>`);
						break;

					case 'checkbox':

						$newBox = $(`<div class="form-group">
										<div class="CB_list"> 
										</div>
										<input type="text" class="CB_txtName" />
										<input type="button" value="Add Check box" class="CB_btnSave" />
									</div>`);
						// $newBox = $(`<div class="form-group">	<input class='ans' type='checkbox' name='myCheckBoxes[]'></div>`);
						break;

					case 'textarea':

						$newBox = $(`<div class="form-group">	<textarea name='myTextAreas[]'>type here...</textarea></div>`);
						break;

					case 'date':

						$newBox = $(`<div class="form-group"> <input type="date" name=""> </div>`)
						break;

					case 'email':

						$newBox = $(`<div class="form-group"> <input type="email" name=""> </div>`)
						break;

					case 'number':

						$newBox = $(`<div class="form-group"> <input type="number" name="quantity" >  </div>`)
						break;

					case 'date':

						$newBox = $(`<div class="form-group"> <input type="date" name=""> </div>`)
						break;



				}
				var $prevbox = $(this).parent().parent(); 
				$newBox.insertAfter($prevbox); 
			});

			/*Delete field button*/
			$(document).on('click', '.Delete-Field', function(){
				$(this).parent().parent().parent().remove();
			});
			

			/*Add field button*/
			$(document).on('click', '.Add-Field', function(){
				var $newBox = $(`
			<div class="form-complete active-box">
				<div class="inputBox">
					
					<div class="row">
						<div class="col-lg-7">	
							<div class="form-group">					
								<input type="text" name="Question[]" class="fieldGen qusTitle" value="Untitled Question" required>	
							</div>
						</div>
						<div class="col-lg-1"></div>
						<div class="col-lg-4" id="selecttype">
							<select class="form-control boxField">
								<option value='select' selected>Select</option>
								<option value='text'>text</option>
								<option value='textarea'>textarea</option>
								<option value='radio'>radio</option>
								<option value='checkbox'>checkbox</option>
								<option value='date'>date</option>
								<option value='email'>email</option>
								<option value='number'>number</option>
							</select>
						</div>
					</div>
					<div class="form-group">	
						<input type="text" name="Answer[]" class="fieldGen" placeholder="Long Answer Text" required>
					</div>
				</div>
				<div class="row hidden-box">
					<div class="col-lg-9"></div>
					<div class="col-lg-1">
						<button type="button" class="btn btn-primary Add-Field">Add Field</button>
					</div>
					<div class="col-lg-1">
						<button type="button" class="btn btn-danger Delete-Field">Delete Field</button>
					</div>
					
				</div>	
				
			</div>`);
				//var $newBox = $("<div class='form-complete'>Hello World</div>");

				var $prevbox = $(this).parent().parent().parent().parent(); // Reached form-complete div
				$prevbox.append($newBox);
				// $newBox.insertAfter($prevbox); 

			});

			$(document).on('click', '.form-complete', function(){
				$(".active-box").children(".hidden-box").css("display", "none");
				$(".active-box").removeClass("active-box");
				$(this).addClass("active-box");
				$(this).children(".hidden-box").css("display", "block");
			});

		});
	</script>

</head>
<body>

<h4 id="header"> Create New Form Template <i class="far fa-file-alt" style="color: #6a4bb7;"></i> </h4>

<hr>
<div class="form-body">
	<div class="container">
		
		<form method="POST">
			<div class="form-complete active-box" id="newForm">
				<div class="inputBox">	
					<div class="form-group">					
						<input type="text" name="formTitle" class="fieldGen fieldTitle" value="Untitled Form" required>	
					</div>
					<div class="form-group">	
						<input type="text" name="formDescriptor" class="fieldGen" placeholder="Form Description" required>
					</div>	
				</div>
				<div class="row hidden-box" style="display: block;">
					<div class="col-lg-10"></div>
					<div class="col-lg-1">
						<button type="button" class="btn btn-primary Add-Field">Add Field</button>
					</div>
				</div>
			</div>
			<!-- We will create box for every new field and its answer-->
			<div class="form-complete active-box">
				<div class="inputBox">
					<!-- 
						Two inline indicators first for FieldTitle and second type of field.
						This design will help us for create and edit template in same page.
					-->
					<div class="row">
						<div class="col-lg-7">	
							<div class="form-group">					
								<input type="text" name="Question[]" class="fieldGen qusTitle" value="Untitled Question" required>	
							</div>
						</div>
						<div class="col-lg-1"></div>
						<div class="col-lg-4" id="selecttype">
							<select class="form-control boxField">
								<option value='select' selected>Select</option>
								<option value='text'>text</option>
								<option value='textarea'>textarea</option>
								<option value='radio'>radio</option>
								<option value='checkbox'>checkbox</option>
								<option value='date'>date</option>
								<option value='email'>email</option>
								<option value='number'>number</option>
							</select>
						</div>
					</div>
					<div class="form-group">	
						<input type="text" name="Answer[]" class="fieldGen" placeholder="Select type" required>
					</div>
				</div>
				<div class="row hidden-box">
					<div class="col-lg-9"></div>
					<div class="col-lg-1">
						<button type="button" class="btn btn-primary Add-Field">Add Field</button>
					</div>
					<div class="col-lg-1">
						<button type="button" class="btn btn-danger Delete-Field">Delete Field</button>
					</div>
					
				</div>	
				
			</div>
		</form>

	</div>
</div>
</body>
</html>