<!--
	Things To be done :
	1. Set visibility of Add filed and delete button only on focus.
	2. Create function for add field button and delete button.
	3. By default focus must be on formTitle div.
	4. Add selected option hidden label for each box.
	4. Can change answer box just by changing dropdown menu.
-->
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Create Form Template</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{% static 'forms/createform.css' %}">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script>


		$(document).ready(function(){
			/*This will be for active div element*/
			

			$(document).on('click', '.remove' , function() {
		    	var myID = $(this).attr("id");
		    	$(this).prev().remove();
		    	$(this).next().next().next().remove(); // remove <br>
		    	$(this).next().next().remove(); // remove <label>
		    	$(this).next().remove(); // remove <input>
		    	$(this).remove(); // remove <x>
		    });

			/* check box add */
			$(document).on('click' , '.CB_btnSave' , function(){
				var $str = $(this).parent();
				var $name = $str.find('.CB_txtName').val();
				var container = $str.find('.CB_list');
				var inputs = container.find('input'); 
				var id = inputs.length + 1;
				$('<input hidden />', { type: 'text', value: $name , name: 'Answer[]', class : "fieldGen numSpecific"}).appendTo(container);
				$('<a href="javascript:void(0);" id=' + String(id) + ' class="remove" style="color:rgb(103, 58, 183);">&#10008;</a>').appendTo(container);
				$('<input />', { type: 'checkbox', id: 'cb' + id, value: $name , name: 'Answer[]'}).appendTo(container);
				$('<label />', { 'for': 'cb' + id, text: $name, class: 'CB' }).appendTo(container);
				$('<br>').appendTo(container);
			});


			/* check box add */
			$(document).on('click' , '.RB_btnSave' , function(){
				var $str = $(this).parent();
				var $name = $str.find('.RB_txtName').val();
				var container = $str.find('.RB_list');
				var inputs = container.find('input'); 
				var id = inputs.length + 1;
				$('<input hidden />', { type: 'text', value: $name , name: 'Answer[]', class : "fieldGen numSpecific"}).appendTo(container);
				$('<a href="javascript:void(0);" id=' + String(id) + ' class="remove" style="color:rgb(103, 58, 183);">&#10008;</a>').appendTo(container);
				$('<input />', { type: 'radio', id: 'rb' + id, value: $name , name: 'Answer[]' }).appendTo(container);
				$('<label />', { 'for': 'rb' + id, text: $name, class: 'RB' }).appendTo(container);
				$('<br>').appendTo(container);
			});

			/* Change type of box field*/ 
			$(document).on('change', '.boxField', function(){
				var myType = String(this.value);
				var htmlID = "#" + myType + "HTML";
				/*This input will act as parser later*/
				$(this).parent().children('input').val(myType + "#");
				var $myelem = $(this).parent().parent().next().remove();
				/*Get the html code for given slected option*/
				var newBox = $(htmlID).html()
				var $prevbox = $(this).parent().parent(); 
				$(newBox).insertAfter($prevbox); 
			});

			/*Delete field button*/
			$(document).on('click', '.Delete-Field', function(){
				$(this).parent().parent().parent().remove();
			});
			

			/*Add field button*/
			$(document).on('click', '.Add-Field', function(){
				/*templateBox has been created in display none form*/
				var newBox = $("#templateBox").html();
				var $prevbox = $(this).parent().parent().parent(); // Reached form-complete div
				$(newBox).insertAfter($prevbox); 

			});

			$(document).on('click', '.form-complete', function(){
				$(".active-box").children(".hidden-box").css("display", "none");
				$(".active-box").removeClass("active-box");
				$(this).addClass("active-box");
				$(this).children(".hidden-box").css("display", "block");
			});

		});
	</script>

</head>
<body>

<h4 id="header"> Create New Form Template <i class="far fa-file-alt" style="color: #6a4bb7;"></i> </h4>

<hr>
<div class="form-body">
	<div class="container">
		
		<form action = "{% url 'forms:parseFormTemplate' %}" method="POST">
			{% csrf_token %}
			<div class="form-complete active-box" id="newForm">
				<div class="inputBox">	
					<div class="form-group">					
						<input type="text" name="formTitle" class="fieldGen fieldTitle" value="Untitled Form" required>	
					</div>
					<div class="form-group">	
						<input type="text" name="formDescriptor" class="fieldGen" placeholder="Form Description" required>
					</div>	
				</div>
				<div class="row hidden-box" style="display: block;">
					<div class="col-lg-10"></div>
					<div class="col-lg-1">
						<button type="button" class="btn btn-primary Add-Field">Add Field</button>
					</div>
				</div>
			</div>
			{% include "forms/formBoxTemplate.html" with use_as_template=False %}
			<br>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Save Template">
			</div>
		</form>

	</div>
</div>



{% include "forms/formBoxTemplate.html" with use_as_template=True %}
</body>
</html>