{% extends "base.html" %}

{% block content %}
  
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
          {% if form.errors %}
                <p class="bg-danger p-2" style="color:white">{{ form.errors }}</p>
          {% endif %}
          {% if next %}
            {% if user.is_authenticated %}
                <p class="bg-warning p-1" style="color:white">Your account doesn't have access.</p>
              {% else %}
                <p class="bg-warning p-1" style="color:white">Please login to see this page.</p>
            {% endif %}
          {% endif %}
          <form method="post" class="login100-form validate-form" action="{% url 'accounts:password_change' %}">
            {% csrf_token %}
            <span class="login100-form-title p-b-55">
              Change Password
            </span>

            <div class="wrap-input100 validate-input m-b-16">
              <input class="input100" id="{{ form.old_password.id_for_label }}" type="password" name="{{ form.old_password.html_name }}" placeholder="Old Password">
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <span class="lnr lnr-lock"></span>
              </span>
            </div>

            <div class="wrap-input100 validate-input m-b-16">
              <input class="input100" id="{{ form.new_password1.id_for_label }}" type="password" name="{{ form.new_password1.html_name }}" placeholder="New Password">
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <span class="lnr lnr-lock"></span>
              </span>
            </div>

            <div class="wrap-input100 validate-input m-b-16">
              <input class="input100" id="{{ form.new_password2.id_for_label }}" type="password" name="{{ form.new_password2.html_name }}" placeholder="Comfirm Password">
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <span class="lnr lnr-lock"></span>
              </span>
            </div>

              <div class="container-login100-form-btn p-t-25">
                <button class="login100-form-btn">
                  Change Password
                </button>
              </div>
              <input type="hidden" name="next" value="{{ next }}" />
          </form>
          </div>
      </div>
  </div>


<!-- 
  <div class="container">
      <div class="row justify-content-center align-items-center" style="height:80vh;">
          <div class="col-auto border p-3">
              {% if form.errors %}
              <p class="bg-danger p-2">Incorrect password</p>
              {% endif %}

              {% if next %}
                  {% if user.is_authenticated %}
                  <p class="bg-warning p-1">Your account doesn't have access.</p>
                  {% else %}
                  <p class="bg-secondary">Please login to see this page.</p>
                  {% endif %}
              {% endif %}
              <form method="post" action="{% url 'accounts:password_change' %}">
              {% csrf_token %}
              {{ form.as_p}}<input class="mt-3" type="submit" value="Change Password" />
              <input type="hidden" name="next" value="{{ next }}" />
              </form>
          </div>
      </div>
  </div>
 -->{% endblock %}
